<h2>Group Chat</h2>

<div style="border:1px solid purple; height:300px; overflow-y:scroll;">
    {% for msg in messages %}
        <p>
            <b>{{ msg.email }}</b>: {{ msg.message_text }}
            <br>
        </p>
        <hr>
    {% endfor %}
</div>

<form method="POST" action="/send_message">
    <input type="hidden" name="group_id" value="{{ group_id }}">
    
    <input type="text" name="message" placeholder="Type message..." required>
    
    <button type="submit">Send</button>
</form>
<a href="/dashboard">Back to Dashboard</a>